* {
    background-color: #000;
    text-color: #fff;
    border-radius: 6px;
    padding: 1.5px;
}

element.selected,
element-icon.selected,
element-text.selected {
    background-color: #fff;
    text-color: #000;
}